# Netflix Show Data Analysis

The following data set is about netflix TV shows and Movies which I got from Kaggle open datset and I am performing a data analysis on it to using tools like panda, matplotlib and seaborn. i got to learn about it from the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and have learnt about data analysis and EDA.

## Downloading the Dataset

I have uploaded the csv datset from Kaggle called Netflix_titles

In [115]:
!pip install jovian opendatasets --upgrade --quiet

Let's begin by downloading the data, and listing the files within the dataset.

The dataset has been downloaded and extracted.

In [116]:
import pandas as pd
netflix_raw_df=pd.read_csv('netflix_titles.csv')

Let us save and upload our work to Jovian before continuing.

In [117]:
project_name = "Netflix_Show_Data_Analysis"

In [118]:
!pip install jovian --upgrade -q

In [119]:
import jovian

In [120]:
jovian.commit(project=project_name)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "himanshikhatwani17/netflix-show-data-analysis" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/himanshikhatwani17/netflix-show-data-analysis

'https://jovian.ml/himanshikhatwani17/netflix-show-data-analysis'

## Data Preparation and Cleaning

Here, I have tried to clean the datset and fill the missing values with appropriate.

In [121]:
netflix_raw_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [122]:
shape=netflix_raw_df.shape
print('The shape of the dataframe is {}'.format(shape))

The shape of the dataframe is (6234, 12)

In [123]:
netflix_raw_df.info('all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [124]:
netflix_raw_df.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [125]:
netflix_raw_df.director.fillna('None',inplace=True)
netflix_raw_df.cast.fillna('None',inplace=True)
netflix_raw_df.country.fillna('None',inplace=True)
netflix_raw_df.dropna(subset=['date_added','rating'],inplace=True)

In [126]:
import jovian

In [ ]:
jovian.commit()

[jovian] Attempting to save notebook..

## Exploratory Analysis and Visualization

I have tried to devise various relationships between the columns using bar charts, stacked bar charts and other types of graph

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

In [ ]:
netflix_raw_df.type.value_counts().plot(kind='bar');
plt.title('Number of Netflix titles that are wither Movie or TV Shows');
plt.ylabel('Frequency');

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

In [ ]:
plt.figure(figsize=(12,8))
sns.countplot(x='rating',data=netflix_raw_df);

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

In [ ]:
plt.figure(figsize=(12,8))
sns.countplot('rating',data=netflix_raw_df,hue='type');

In [ ]:
!pip install Wordcloud
from wordcloud import WordCloud
plt.subplots(figsize=(25,15))
wordcloud = WordCloud(
                          background_color='white',
                          width=1920,
                          height=1080
                         ).generate(" ".join(netflix_raw_df.country))
plt.imshow(wordcloud)
plt.axis('off')
plt.savefig('country.png')
plt.show();

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

I have tried to answer a few questions to analyse the dataset in more detail

#### Q1: TODO - Total frequency of both the types

In [ ]:
type_count=netflix_raw_df[['type','show_id']].groupby('type').count().sort_values('type',ascending=True)
type_count

#### Q2: TODO - Find the longest and shortest movie as well as TV show

In [ ]:
longest_movie= netflix_raw_df.loc[netflix_raw_df.type=='Movie'].duration.str.replace('min','').astype(float).max()
shortest_movie= netflix_raw_df.loc[netflix_raw_df.type=='Movie'].duration.str.replace('min','').astype(float).min()
print(longest_movie, shortest_movie)

In [ ]:
longest_tv_show=netflix_raw_df[netflix_raw_df.type=='TV Show'].duration.str.replace('min','').max()
shortest_tv_show=netflix_raw_df[netflix_raw_df.type=='TV Show'].duration.str.replace('min','').min()
print(longest_tv_show,shortest_tv_show)

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion
>
> - Movies are more popular type of content than TV Shows
> - TV-MA rating is the most for which Movies are made

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work
>
> - Knowing about the rating of Movies and TV shows from Wikipedia

In [ ]:
import jovian

In [ ]:
jovian.commit()